.highlight .k  { color: #800040; } /* Keyword */
.highlight .kd { color: #800040; } /* Keyword.Declaration */
.highlight .kt { color: #800040; } /* Keyword.Type */
.highlight .kc { color: #800040; } /* Keyword.Constant */
.highlight .kp { color: #800040; } /* Keyword.Pseudo */
.highlight .kr { color: #800040; } /* Keyword.Reserved */

.highlight .nd { color: #408080; } /* Annotation */

.highlight .c  { color: #808080; } /* Comment */
.highlight .cm { color: #808080; } /* Comment.Multiline */
.highlight .c1 { color: #808080; } /* Comment.Single */
.highlight .cp { color: #808080; } /* Comment.Preproc */
.highlight .cs { color: #808080; } /* Comment.Special */

.highlight .m  { color: #FF0000; } /* Literal.Number */
.highlight .mi { color: #FF0000; } /* Literal.Number.Integer */
.highlight .s  { color: #FF0000; } /* Literal.String */
.highlight .mf { color: #FF0000; } /* Literal.Number.Float */
.highlight .mh { color: #FF0000; } /* Literal.Number.Hex */
.highlight .mo { color: #FF0000; } /* Literal.Number.Oct */
.highlight .il { color: #FF0000; } /* Literal.Number.Integer.Long */
.highlight .sb { color: #FF0000; } /* Literal.String.Backtick */
.highlight .sc { color: #FF0000; } /* Literal.String.Char */
.highlight .sd { color: #FF0000; } /* Literal.String.Doc */
.highlight .s2 { color: #FF0000; } /* Literal.String.Double */
.highlight .se { color: #FF0000; } /* Literal.String.Escape */
.highlight .sh { color: #FF0000; } /* Literal.String.Heredoc */
.highlight .si { color: #FF0000; } /* Literal.String.Interpol */
.highlight .sx { color: #FF0000; } /* Literal.String.Other */
.highlight .sr { color: #FF0000; } /* Literal.String.Regex */
.highlight .s1 { color: #FF0000; } /* Literal.String.Single */
.highlight .ss { color: #FF0000; } /* Literal.String.Symbol */

.highlight .n  { } /* Name */
.highlight .nc { } /* Name.Class */
.highlight .na { } /* Name.Attribute */
.highlight .nb { } /* Name.Builtin */
.highlight .no { } /* Name.Constant */
.highlight .ni { } /* Name.Entity */
.highlight .ne { } /* Name.Exception */
.highlight .nf { } /* Name.Function */
.highlight .nn { } /* Name.Namespace */
.highlight .nt { } /* Name.Tag */
.highlight .nv { } /* Name.Variable */
.highlight .bp { } /* Name.Builtin.Pseudo */
.highlight .vc { } /* Name.Variable.Class */
.highlight .vg { } /* Name.Variable.Global */
.highlight .vi { } /* Name.Variable.Instance */

.highlight .o  { } /* Operator, Bracket, Other */
.highlight .ow { } /* Operator.Word */

.highlight .gd  { } /* Generic.Deleted */
.highlight .gd .x { } /* Generic.Deleted.Specific */
.highlight .ge { } /* Generic.Emph */
.highlight .gr { } /* Generic.Error */
.highlight .gh { } /* Generic.Heading */
.highlight .gi { } /* Generic.Inserted */
.highlight .gi .x { } /* Generic.Inserted.Specific */
.highlight .go { } /* Generic.Output */
.highlight .gp { } /* Generic.Prompt */
.highlight .gs { } /* Generic.Strong */
.highlight .gu { } /* Generic.Subheading */
.highlight .gt { } /* Generic.Traceback */

.highlight .err { } /* Error */

.highlight .w { } /* Text.Whitespace */
